# Build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Aa]rtifacts/
[Tt]est[Rr]esult*/
*.nupkg
*.snupkg

# Temporary files
tmp/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/
